<h3>To prepare a perfect <%= @cocktail.name %>, you need :</h3>
    
    <% @cocktail.doses.each do |dose| %>
      <div class="card-dose">
      <%= dose.description %> <%= dose.ingredient.name %>
        <%= link_to "Remove?", dose_path(dose), method: :delete,  data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
   <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<h5> If you want to change the cocktail dosing, click here: <%= link_to 'Make your changes', new_cocktail_dose_path(@cocktail) %> </h5>
<br>
<%= link_to 'Back to cocktails list', cocktails_path %>
